base(zIndex = 1)
  position absolute
  z-index zIndex

divButton()
  width 100%
  height 100%
  margin 0 auto
  border none
  background-size 100%
  pointer-events all

html, body
  margin 0
  overflow hidden

.button
  position relative
  z-index 1
  padding 0
  margin 0 auto
  width 80px
  height 80px
  border none
  background-size 100%
  pointer-events all

#uiStats
  base()
  top 0; left 0
  opacity 0.5

#gameCanvas
  z-index 0
  width 100%
  height 100%
  margin 0
  pointer-events all

#uiMainPanelVertical
  position fixed
  z-index 1
  bottom 0
  width 100%
  height 80px
  pointer-events none
  background-color aqua

#uiMainPanelHorizontal
  position fixed
  z-index 1
  right 0
  top 0
  height 100%
  width 30%
  pointer-events none
  background-color aqua

#uiFullScreenBtnExpand
  background url('./assets/ui/fullscreen_expand.png') no-repeat
  divButton()

#uiFullScreenBtnCollapse
  background url('./assets/ui/fullscreen_collapse.png') no-repeat
  divButton()